/****************************************/
/*//// FONTFACE-zinhenakokuryurdf /////*/
/****************************************/
@font-face {
    font-family: 'zinhenakokuryurdf';
    src: url('./fonts/zinhenakokuryu-rdf-webfont.woff2') format('woff2'),
         url('./fonts/zinhenakokuryu-rdf-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'zinhenakokuryurcf';
    src: url('./fonts/zinhenakokuryu-rcf-webfont.woff2') format('woff2'),
         url('./fonts/zinhenakokuryu-rcf-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'zinhenabokuryurdf';
    src: url('./fonts/zinhenabokuryu-rdf-webfont.woff2') format('woff2'),
         url('./fonts/zinhenabokuryu-rdf-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'zinhenabokuryurcf';
    src: url('./fonts/zinhenabokuryu-rcf-webfont.woff2') format('woff2'),
         url('./fonts/zinhenabokuryu-rcf-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,200,300,400,500,600,700');

* {
  box-sizing:border-box;
  font-family: 'IBM Plex Sans', sans-serif;
}

/****************************************/
/*/////////// MASTER-DETAIL ////////////*/
/****************************************/
.column {
  float: left;
  /* padding: 2%; */
}

.conversationsList {
  display: inline-block;
  height: 100%;
  width: 30%;
  border-style: solid;
  background-color: rgb(220, 213, 198);
  overflow: auto;
}

.messagesArea {
  display: inline-block;
  border-style: solid;
  height: 100%;
  width: 70%;
  padding: 4% 8%;
}

/****************************************/
/*///////// CONVERSATIONSLIST //////////*/
/****************************************/
.newConversationForm {
  background-color: rgb(242, 237, 237);
  position: sticky;
  top: 0px;
}

.room {
  /* flex keeps it from overflowing */
  display: flex;
  /* background-color: rgb(223, 170, 70); */
  height: 75px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}

.room:hover {
  background-color: rgb(223, 170, 70);
  transition: 0.5s;
  cursor: pointer;
}

.room:active {
  background-color: rgb(193, 144, 43);
}

.room-icon {
  display: inline-block;
  /* margin-top: auto;
  margin-bottom: auto; */
  margin: auto;
  /* height: 100%; */
  width: 30%;
}

.room-icon .icon {
  /* Umbrella Icon */
  background-image: url("https://cdn.iconscout.com/icon/premium/png-256-thumb/japanese-umbrella-564431.png");
  background-size: contain;
}

.icon {
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 50px;
  background-color: white;
}

.room-content {
  display: inline-block;
  margin: auto;
  /* height: 100%; */
  width: 70%;
}

.room-content p {
  margin-top: auto;
  margin-bottom: auto;
}

/****************************************/
/*/////////// MESSAGESAREA /////////////*/
/****************************************/
.chat-container {
  background-color: rgb(242, 237, 237);
  border-style: solid;
  border-color: rgb(220, 213, 198);
  border-width: thin;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.chat-box {
  background-color: rgb(242, 237, 237);
  overflow: auto;
  height: 90%;
}

form {
  height: 10%;
}

.text {
  width: 80%;
  height: fill;
}

.submit {
  width: 20%;
}

/****************************************/
/*///////////// MESSAGES ///////////////*/
/****************************************/
.message-box {
  /* flex keeps it from overflowing */
  display: flex;
  height: 75px;
}

.user-icon {
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
  /* height: 100%; */
  width: 10%;
}

.user-icon .icon {
  /* Regular User Icon */
  /* background-image: url("https://d1nhio0ox7pgb.cloudfront.net/_img/o_collection_png/green_dark_grey/256x256/plain/user.png"); */
  /* Japanese Mask Icon */
  background-image: url('./default-icon.png');
  /* background-image: url("https://www.gfxmag.com/wp-content/uploads/2017/01/japanese-ogre-emoji-vector-icon.png"); */
  background-size: contain;
}

.content-box {
  /* display: inline-flex; */
  /* flex-direction: column; */
  padding-top: 10px;
  /* height: 50px; */
  width: 90%;
  font-family: 'IBM Plex Sans', sans-serif;
}

.content-info {
  display: block;
}

.content-info p {
  display: inline-block;
  margin: 0px;
}

.username {
  padding-right: 2%;
  font-size: 1em;
  font-weight: 500;
}

.timestamp {
  color: rgb(116, 117, 126);
  font-weight: 200;
  font-size: 0.75em;
}

.content-message {
  display: block;
  position: relative;
  bottom: 10px;
  font-weight: 300;
}

.content-message p {
  /* margin: 0px; */
}
